*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: lightblue;
    color: white;
    padding: 10pz;
}
.calculator{
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
    min-height: 600px;
}
.calculator>h1{
    font-size: 70px;

}
.calculator>h1>span{
    color: yellow;

}
.input-box{
    margin: 40px 0;
    padding: 40px;
    border-radius: 15px;
    background: yellow;
    display: flex;
    align-items: center;

    
}
.input-box>input{
    display: flex;
    margin-right: 30px;
    padding: 14px 20px;
    border: 0;
    font-size: 25px;
    border-radius: 5px;
    position: relative;
}
.input-box>button{
    width: 100px;
    height: 60px;
    border: 0;
    padding: 15x 40px;
    font-weight: 500;
    cursor: pointer;
}
.input-box >input::-webkit-calender-picker-indicator{
    width: auto;
    height: auto;
    background-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#result{
    font-size:28px;
    color: brown;
}

